*{
    margin:0;
    padding:0;
    font-family:system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing:border-box;
}
.container{
    width: 100%;
    min-height:100vh;
    background:linear-gradient(45deg,  #4ca1af,#c4e0e5 );
    padding:10px;
    padding-bottom: 350px;
}
.Title h1{
    display:flex;
    margin-top:50px;
    justify-content:center;
    color:#fff;
    font-size:100px;

}
.Title h3{
    display:flex;
    justify-content:center;
    color:#fff;
    font-weight:20px;

}
.to-do{
    width: 100%;
    max-width: 540px;
    background: linear-gradient(0deg,  #ffffff,#c3f4fd );
    margin:100px auto 20px;
    padding: 40px 30px 70px;
    border-radius:10px;
    box-shadow: 2px 10px 40px rgb(75, 75, 75);
}
.to-do h2 {
    color:#190065;
    display:flex;
    align-items:center;
    margin-bottom:20px;

}
.to-do h2 img {
    width:25px;
    margin-left:10px;

}
.row{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background: #edeef0;
    border-radius:30px;
    padding-left:20px;
}
input{
    flex:1;
    border:none;
    outline:none;
    background:transparent;
    padding:10px;
    font-weight:14px;
}
button{
    border:none;
    outline:none;
    padding:16px 50px;
    background:#9039fc;
    color:#fff;
    font-size:16px;
    cursor: pointer;
    border-radius:40px;

}
.TaskPart{
    width: 100%;
    max-width: 540px;
    margin:10px auto 20px;
}
ul li{
    list-style:none;
    background:#c4e0e5;
    border-radius:10px;
    box-shadow: 2px 10px 40px rgb(75, 75, 75);
    font-size: 20px;
    padding:30px 8px 30px 50px;
    user-select: none;
    cursor:pointer;
    position:relative;
    min-width:400px;
    margin-bottom:20px;
}
ul li::before{
    content:'';
    position:absolute;
    height:28px;
    width:28px;
    background-image: url(images/unchecked.png);
    background-size:cover;
    background-position:center;
    top:30px;
    left:15px;
}
ul li.checked{
    color:#555;
    text-decoration:line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png) ;
}
ul li span{
    position:absolute;
    right:10px;
    top:25px;
    width:40px;
    height:40px;
    font-size:22px;
    border-radius: 50%;
    color:#555;
    line-height:35px;
    text-align:center;
    background:#fe3c3c
}
ul li span:hover{
    background:#ff9797
}
#ClockEm{
    position: absolute;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#edeef0;

}
#dateShow{
position: absolute;
    text-align: center;
     top:250px;
    left: 50%;
     transform: translate(-50%, -50%);
     color:#edeef0;
}
#date2{
    position: absolute;
    text-align: center;
    top:270px;
    left: 50%;
     transform: translate(-50%, -50%);
     color:#edeef0;


}
